#bord {
    border: black 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 845px;
}

.lab {
    border: 1px solid red

}

.page {
    background-color: #ffffff;
    border: 2px dotted #818181;
    padding: 30px;
    width: 500px;
}